.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  font-size: 14px;
}

.footer-top {
  padding: 10px 20px;
  border-bottom: 1px solid #dadce0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer a {
  text-decoration: none;
  color: #70757a;
  margin-right: 15px;
}
