.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
}

/* Left & Right sections */
.header-left a,
.header-right a {
  margin-right: 15px;
  text-decoration: none;
  color: #202124;
}

.header-left a:hover,
.header-right a:hover {
  text-decoration: underline;
}

/* Right side alignment */
.header-right {
  display: flex;
  align-items: center;
}

/* Apps (9 dots) icon */
.apps-icon {
 display: grid;
  grid-template-columns: repeat(3, 4px);
  gap: 4px;
  margin-right: 15px;
  cursor: pointer;
}

.apps-icon span {
  width: 4px;
  height: 4px;
  background: #5f6368;
  border-radius: 50%;
}


/* Profile circle */
.profile {
  width: 32px;
  height: 32px;
  background-color: #9c27b0;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.profile-flip {
  width: 32px;
  height: 32px;
  perspective: 800px;
  cursor: pointer;
}

.profile-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.profile-flip:hover .profile-inner {
  transform: rotateY(180deg);
}

/* Front (letter) */
.profile-front,
.profile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Letter avatar */
.profile-front {
  background: #9c27b0;
  color: white;
  font-weight: bold;
}

/* Back (image) */
.profile-back {
  transform: rotateY(180deg);
  overflow: hidden;
}

.profile-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

